    {%- comment -%}
      Reference: https://codeberg.org/fediverse/fedi-foundation/issues/4
      Uses some code from: https://github.com/mmistakes/minimal-mistakes (see Credits)
    {%- endcomment -%}

    {% if page.canonical_url %}
      {%- assign canonical_url = page.canonical_url %}
    {% else %}
      {%- assign canonical_url = page.url | replace: "index.html", "" | absolute_url %}
    {% endif %}

    {%- assign page_title = page.title | default: site.title -%}

    {%- assign seo_description = page.description | default: page.excerpt | default: site.description -%}
    {%- if seo_description -%}
      {%- assign seo_description = seo_description | markdownify | strip_html | newline_to_br | strip_newlines | replace: '<br />', ' ' | escape_once | strip -%}
    {%- endif -%}

    {%- assign author = page.author | default: page.authors[0] | default: site.author -%}
    {%- assign author = site.data.people[author] | default: author -%}

    {%- if author.twitter -%}
      {%- assign author_twitter = author.twitter | replace: "https://twitter.com/", "" -%}
    {%- endif -%}

    {%- if page.type == "people" -%}
      {%- assign person = site.data.people[page.person] -%}
      {%- assign page_title = person.name | default: site.title -%}
      {%- assign seo_description = person.bio -%}
      {%- assign author_twitter = person.twitter | replace: "https://twitter.com/", "" -%}
    {%- endif -%}

    {%- assign page_image = page.image | default: site.image | absolute_url -%}
    {%- assign page_image = page_image | escape -%}

    <title>{{ page_title | append: " | " | append: site.name }}</title>
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="description" content="{{ seo_description }}">
    <meta name="author" content="{{ author.name | default: author }}">
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#222222">

    <meta name="twitter:dnt" content="on">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ page_image }}">
    <meta name="twitter:title" content="{{ page_title }}">
    <meta name="twitter:description" content="{{ seo_description }}">
    <meta name="twitter:url" content="{{ canonical_url }}">
    {% if author_twitter %}<meta name="twitter:site" content="@{{ author_twitter }}">{% endif %}

    <meta property="og:title" content="{{ page_title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:image" content="{{ page_image }}">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:url" content="{{ canonical_url }}">
    <meta property="og:locale" content="en_US">
    {%- if page.url == "/" -%}
      {% include seo/seo_website.html description=seo_description %}
    {%- elsif page.type == "people" -%}
      {% include seo/seo_profile.html url=canonical_url %}
    {%- else -%}
      {% include seo/seo_article.html author=author description=seo_description url=canonical_url image=page_image license=include.license %}
    {%- endif -%}
