    {% if include.author %}
      {%- assign profile_page = site.profile | where: "person", include.author.socialhub | first -%}
      {%- if profile_page -%}
        {%- assign author_url = profile_page.url -%}
      {%- elsif include.author.fediverse -%}
        {%- assign author_url = include.author.fediverse -%}
      {%- else -%}
        {%- assign author_url = "https://socialhub.activitypub.rocks/u/" | append: include.author.socialhub | append: "/summary" -%}
      {%- endif -%}
    {%- endif -%}
    
    {%- if page.date -%}
      {%- assign page_date = page.date | date_to_xmlschema -%}
    {%- endif -%}

    {%- if page.tags -%}
      {%- assign page_tags = page.tags | join: ", " -%} 
    {%- endif -%}

    {% if true %}
    <meta property="og:type" content="article">{% endif %}
    {% if page_date %}<meta property="article:published_time" content="{{ page_date }}">{% endif %}
    {% if page_tags %}{% for tag in page.tags %}<meta property="article:tag" content="{{ tag }}">
    {% endfor %}{%- endif -%}
    {% if include.author %}<meta property="article:author" content="{{ author_url | absolute_url | default: site.author }}">{% endif %}

    <script type="application/ld+json">
    {
      "@context":"https://schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ include.url }}"
      },
      "headline": "{{ page.title }}",
      "name": "{{ page.title }}",
      "description": "{{ page.description }}",
      {% if page_tags %}"keywords": "{{ page_tags }}",{% endif %}
      "image": "{{ include.image }}",
      {% if page_date %}"datePublished": "{{ page_date }}",{% endif %}
      {% if include.author %}"author": {
        "@type": "Person",
        "name": "{{ include.author.name }}",
        {% if author_url %}"sameAs": "{{ author_url | absolute_url }}"{% endif %}
      },{% endif %}
      "license": "{{ include.license }}",
      "publisher": {
        "@type": "Organization",
        "name": "{{ site.name }}",
        "logo": {
          "@type": "ImageObject",
          "url": "{{ site.logo | absolute_url }}"
        }
      }
    }
    </script>
