
{%- if page.license == "CC-BY-SA" -%}
  {%- assign license_url = site.licenses.ccbysa.url -%}
{%- elsif page.license == "CC-BY-NC-SA" -%}
  {%- assign license_url = site.licenses.ccbyncsa.url -%}
{%- else -%}
  {%- assign license_url = site.licenses.default.url -%}
{%- endif -%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% include seo/seo.html license=license_url %}

    <link rel="icon" href="{{site.baseurl}}/{{site.favicon}}" type="image/x-icon">
    <link rel="icon" href="{{site.baseurl}}/{{site.favicon_svg}}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{site.baseurl}}/assets/images/apple-icon-180x180.png">
    <link rel="manifest" href="/manifest.webmanifest">

    <link rel="stylesheet" href="/assets/css/fork-awesome.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/theme.css">
  </head>

  <body class="{% if page.url == '/' %}landingpage{% endif %}">

    <nav class="topnav navbar navbar-expand-lg navbar-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{{ site.baseurl }}/index.html">{{site.name}}</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarColor02">
          <ul class="navbar-nav mr-auto d-flex align-items-center">
            {% include menu-header.html %}
          </ul>
          <ul class="navbar-nav ml-auto d-flex align-items-center">
            {% include menu-donate.html %}
          </ul>
        </div>
      </div>
    </nav>

    {% if page.url == "/" %}
    <div class="gradient">
      <div class="container hero">
        <div class="row">
          <div class="col-md-12">
            <div class="mb-3">
              <img class="hero-logo" src="/assets/images/fedi-foundation-logo.svg" height="300px">
              <p class="hero-logo-byline">for the <a href="https://socialhub.activitypub.rocks">SocialHub</a> community, in support of the <a href="https://fediverse.party" style="color:#FDBE49">Fediverse</a></p>
              <p class="hero-caption">Community empowerment &nbsp;•&nbsp; Cooperation &nbsp;•&nbsp; Healthy growth &nbsp;•&nbsp; Advocacy</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    <main role="main" class="site-content mb-6">
      {{ content }}
    </main>

    <footer class="bg-white border-top p-3 text-muted small">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div>
            {%- if page.license == "CC-BY-SA" -%}
            <a rel="license" title="{{ site.licenses.ccbysa.description }}" href="{{ license_url }}"><img alt="Creative Commons License" style="border-width:0" src="{{ site.baseurl }}/assets/images/cc-by-sa.svg" /></a>&nbsp; See also <a href="/publish/#licensing" style="color:#F1007E;">licensing details</a>.
            {%- elsif page.license == "CC-BY-NC-SA" -%}
            <a rel="license" title="{{ site.licenses.ccbyncsa.description }}" href="{{ license_url }}"><img alt="Creative Commons License" style="border-width:0" src="{{ site.baseurl }}/assets/images/cc-by-nc-sa.svg" /></a>&nbsp; See also <a href="/publish/#licensing" style="color:#F1007E;">licensing details</a>.
            {%- else -%}
            <a rel="license" title="{{ site.licenses.default.description }}" href="{{ license_url }}"><img alt="Creative Commons License" style="border-width:0" src="{{ site.baseurl }}/assets/images/cc-zero.svg" /></a>&nbsp; unless otherwise stated, see <a href="/publish/#licensing" style="color:#F1007E;">licensing details</a>.
            {%- endif -%}
          </div>
          <div>
            <span style="vertical-align: middle;"><a href="https://codeberg.org/fediverse/fedi-foundation">source</a>, <a href="/credits.html">credits</a>, <a href="/privacy.html">privacy</a>, no trackers, no ads, no js</span>
          </div>  
        </div>
      </div>
    </footer>
  </body>
</html>
