---
layout: default
---
{% assign author = page.author | default: page.authors[0] | default: site.author %}
{% assign author = site.data.people[author] | default: author %}

{% if page.image %}
  {% assign img_justify = "justify-content-between" %}
  {% assign img_col = "col-md-6" %}
{% else %}
  {% assign img_justify = "justify-content-center" %}
  {% assign img_col = "col-md-8" %}
{% endif %}

{{ page.name }}

<div class="container">
  <div class="jumbotron jumbotron-fluid mb-3 pl-0 pt-0 pb-0 bg-dark position-relative">
		<div class="h-100 tofront">
			<div class="row {{ img_justify }}">
				<div class="{{ img_col }} pr-0 pr-md-4 pt-4 pb-4 align-self-center">
					<p class="text-uppercase font-weight-bold">
            <span class="catlist">
            {% for category in page.categories %}
              <a class="sscroll text-danger" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category | downcase }}</a><span class="sep">, </span>
            {% endfor %}
            </span>
					</p>
					<h1 class="display-4 mb-4 article-headline">{{ page.title }}</h1>
					<div class="d-flex align-items-center">
            {% if author.avatar %}
            <img class="rounded-circle" src="{{site.baseurl}}{{ site.avatar-dir }}{{author.avatar}}" alt="{{author.name}}" width="70"/>
            {% endif %}
            <small class="ml-3"> {{ author.name }} <span><a target="_blank" href="{{ author.twitter }}" class="btn btn-outline-success btn-sm btn-round ml-1">Follow</a></span>
                            <span class="text-muted d-block mt-1">{{ page.date | date: '%b %d, %Y' }} · {% include meta-read-time.html %}</span>
            </small>
          </div>
				</div>
        {% if page.image %}
				<div class="col-md-6 pr-0 align-self-center">
					<img class="rounded post" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}{{ site.postimg-dir }}{{ page.image }}{% endif %}" alt="{{ page.title }}">
				</div>
        {% endif %}
			</div>
		</div>
	</div>
</div>

<div class="container-lg pt-4 pb-4">
	<div class="row justify-content-center">

    <!-- Aside -->
		<div class="col-lg-3 pr-4 mb-4 col-md-12">
			<div class="sticky-top sticky-top-offset text-right font-italic">
				<div class="text-muted">
					Description
				</div>
				<div class="d-inline-block mb-2">
          <span class="text-muted blockquote">&ldquo;</span> {{ page.description }} <span class="text-muted blockquote">&rdquo;</span>
        </div>
        <!-- Tags -->
        <span class="taglist">
          {% for tag in page.tags %}
          <a class="text-lowercase" href="{{site.baseurl}}/tags.html#{{ tag | downcase }}">{{ tag }}</a>
          {% endfor %}
        </span> 
			</div>
		</div>
        
		<div class="col-md-12 col-lg-8">
			<article class="article-post">                
			{{ content }}                
			</article>
            
      <!-- Author Box -->
      {% if page.author %}				
      <div class="row mt-5">
        <div class="col-md-2 align-self-center">
          {% if author.avatar %}
          <img class="rounded-circle" src="{{site.baseurl}}{{ site.avatar-dir }}{{author.avatar}}" alt="{{author.name}}" width="90"/>
          {% endif %} 
        </div>
        <div class="col-md-10">		
          <h5 class="font-weight-bold">Written by {{ author.name }} {% if author.twitter %}<span><a target="_blank" href="{{ author.twitter }}" class="btn btn-outline-success btn-sm btn-round ml-2">Follow</a></span>{% endif %}</h5>
          {{ author.bio }}
          {%- if page.license == "CC-BY-SA" -%}
          <p>This article is licensed as <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0</a></p>
          {%- elsif page.license == "CC-BY-NC-SA" -%}
          <p>This article is licensed as <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0</a></p>
          {%- else -%}
            {%- assign license_url = "http://creativecommons.org/publicdomain/zero/1.0/" -%}
          {%- endif -%}				
        </div>
      </div>				
      {% endif %}   
		</div>
	</div>
</div>

<!-- Alertbar Prev/Next -->
<div class="alertbar">
  <div class="container">
    <div class="row prevnextlinks small font-weight-bold">
      {% if page.previous.url %}
      <div class="col-md-6 rightborder pl-0">
        <a class="text-dark" href="{{ site.baseurl }}{{ page.previous.url }}">{% if page.previous.image %} <img height="30px" class="mr-1" src="{{site.baseurl}}{{ site.postimg-dir }}{{page.previous.image}}"> {% endif %} {{page.previous.title}}</a>
      </div>
      {% endif %}
      {% if page.next.url %}
      <div class="col-md-6 text-right pr-0">
        <a class="text-dark" href="{{ site.baseurl }}{{ page.next.url }}"> {{page.next.title}} {% if page.next.image %} <img height="30px" class="ml-1" src="{{site.baseurl}}{{ site.postimg-dir }}{{page.next.image}}"> {% endif %}</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
